.check__out__info{
    width: 300px;
    margin: 0 auto;
    button{
        margin-top: 7px;
        background-color: blueviolet;
        color: white;
        padding: 6px;
        border: none;
    }
    label{
        font-size: 17px;
        font-weight: 500;
       
    }
}